/*** General styles  ***/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #f2c609;
}

.container {
    background-color: #0e2978;
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 20px;
}

/*** Game first screen ***/
#welcome {
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    height: 675px;
    display: block;
    text-align: center;
}

.game-title {
    text-align: center;
    margin-top: 10em;
    font-size: 2.5em;
    text-shadow: 2px 3px 5px red;
    margin-top: 1.2em;
    padding: 25px 40px;
}

/* first screen image*/
#ace {
    width: 20em;
    height: 16em;
    margin: 2em auto;
    display: block;
}

/* button Start Game! */
#new-game {
    width: 200px;
    height: 75px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0.5rem;
    color: #fff;
    text-shadow: 2px 2px 3px #272625;
    padding: 15px 15px;
    box-shadow: 3px 3px 5px #1e1d1d;
    border-radius: 11px;
    border: 5px double #f2c609;
    background: #f56f06;
}

#new-game:hover {
    color: #a0fdfd;
    background: #f8831d;
    background: linear-gradient(to top, #f8831d, #f9c011);
}

/***  Modal box with with game rules  ***/
/* Button for Modal box */
.info-btn {
    border: 3px double #f2c609;
    background: #f56f06;
    border-radius: 25px;
    font-size: 1.5em;
    color: #fbfcff;
    padding: 6px;
    width: 2em;
    position: absolute;
    top:5;
    right: 5%;
}

/* Modal box style */
#info {
    display: none;
    position: absolute;
    z-index: 1;
    padding: 50px 20px;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    width: 90%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    color: lightblue;
    font-size: 1.2em;
    background-color: rgba(3, 1, 28, 0.8);
}

.info-content {
    text-align: left;
    padding-left: 20px;
    line-height: 1.8em;
}

a {
    text-decoration: none;
    color: lightblue;
    font-weight: 700;
    font-size: 1.2em;
}

a:hover {
    color: #f2c609;
}

/* Modal box Close Button */
.close {
    color: #d0cfec;
    position: absolute;
    right:3%;
    top: 3%;
    font-size: 1.75em;
    font-weight: 700;
}

.close:hover,
.close:focus {
    color: #f8831d;
    text-decoration: none;
    cursor: pointer;
}

/***  Game area  ***/
.game-area {
    width: 100%;
    margin: 20px auto;
    padding: 10px;
}

#hide,
#invisible {
    display: none;
}

h2 {
    margin-bottom: 1em;
    text-shadow: 1px 1px 15px #f2c609;
    color: #f2c609;
}

#dealer-cards img,
#player-cards img {
    height: 10em;
    width: 7em;
    margin: 5px;
}

.results {
    height: 2.2em;
    margin-bottom: 5%;
}

#results {
    font-size: 2em;
    text-shadow: 2px 3px 5px red;
    margin: 1em 0;
}

/* buttons on the playing field */
#hit,
#stay {
    width: 5em;
    height: 2.5em;
    font-size: 1.5em;
    margin: 20px 5px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 3px #272625;
    padding: 5px;
    box-shadow: 3px 3px 5px #1e1d1d;
    border-radius: 11px;
    border: 5px double #f2c609;
    background: #f56f06;
}

#hit:hover,
#stay:hover,
.info-btn:hover {
    color: #d0cfec;
    background: #f8831d;
    background: linear-gradient(to top, #f8831d, #f9c011);
}


/*  MEDIA QUERIES   */

/* for screens that are 768px wide or less */
@media screen and (max-width: 768px) and (min-width: 481px) {

    /* Game wrapper  */
    .container {
        width: 100%;
    }

    /* Modal box style */
    .info-btn {
        right: 5%;
    }

    #info {
        width: 90%;
        padding: 50px 15px;
    }

    .close {
        top:2%;
        right: 5%;
    }
}


/* for screens that are 480px wide or 376px */
@media screen and (max-width: 480px) and (min-width: 375px) {

    /* Game wrapper  */
    .container {
        width: 100%;
    }

    /* Modal box style */
    .info-btn {
        right: 5%;
    }

    #info {
        width: 95%;
    }

    .info-content {
        padding-left: 10px;
    }

    .close {
        right: 5%;
    }

    /*** Game first screen ***/
    #welcome {
        width: 100%;
    }

    .game-title {
        font-size: 2em;
    }

    /* first screen image*/
    #ace {
        width: 12em;
        height: 9em;
    }

    /* button Start Game! */
    #new-game {
        width: 9em;
        height: 3em;
        font-size: 1.3em;
        font-weight: 700;
    }

    /***  Game area  ***/
    h2 {
        margin-bottom: 2em;
    }

    #dealer-cards img,
    #player-cards img {
        margin: -25px; /* show cards in 1 row */
    }

    #hit,
    #stay {
        margin-top: 50px;
    }

}


/* for screens that are 375px wide or less */
@media screen and (max-width: 375px) and (min-width: 320px) {

    /* Game wrapper  */
    .container {
        width: 100%;
    }

    /* Modal box style */
    .info-btn {
        font-size: 1.1em;
        color: #fbfcff;
        padding: 4px;
        right: 5%;
    }

    #info {
        width: 90%;
        height: 100%;
        font-size: 16px;
        overflow: auto;
        margin: 0 auto;
    }

    .info-content {
        padding-right: 5px;
        padding-left: 5px;
    }

    .close {
        right: 10%;
    }

    /*** Game first screen ***/
    #welcome {
        width: 100%;
    }

    .game-title {
        font-size: 1.5em;
    }

    /* first screen image*/
    #ace {
        width: 12em;
        height: 9em;
    }

    /* button Start Game! */
    #new-game {
        width: 10em;
        height: 3em;
        font-size: 1em;
        font-weight: 700;
        padding: 10px;
    }

    /***  Game area  ***/
    h2 {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #dealer-cards img,
    #player-cards img {
        height: 7em;
        width: 5em;
        margin: 1px -15px;
    }

    .results {
        height: 1.8em;
        margin-bottom: 3%;
    }

    #results {
        font-size: 1.6em;

    }

    #hit,
    #stay {
        width: 5em;
        height: 2.2em;
        font-size: 1.1rem;
        margin: 50px 5px;
    }

}
